body{
  background-color: cyan;
}
nav{
  border: 15px dashed dodgerblue;
  background-color: firebrick;
  border-radius: 60px;
  box-shadow: inset 100px 50px 4px 2px rgba(0, 255, 0, .2);
  color: magenta;
}
nav > h1{
  color: blue;
  font-size: 5.8rem;
  margin: 4rem 2rem;
}
ul {
  display: flex;
  page-break-after: 5;
}
li{
  font-size: 30px;
}
main {
  text-align: center;
  margin: 5px 200px;
  border: 7px solid limegreen;
  background: linear-gradient(to left, navy, greenyellow);
  box-shadow: 0 12px 0 rgba(0, 0, 0, .5);
  color: khaki;
}
img{
  margin: 2rem;
}
p{
  display: inline;
  margin: 2rem;
  word-wrap: none;
}
