body{
  background-color: cyan;
  cursor: wait;
}
::selection{
  background-color: lightblue;
  color: navy;
  border-radius: 6px;
}
nav{
  border: 15px dashed dodgerblue;
  background-color: firebrick;
  border-radius: 60px;
  box-shadow: inset 100px 50px 4px 2px rgba(0, 255, 0, .2);
  color: magenta;
}
nav > h1{
  color: blue;
  font-size: 5.8rem;
  margin: 4rem 2rem;
}
ul {
  display: flex;
  page-break-after: 5;
}
li{
  font-size: 30px;
}
main {
  text-align: center;
  margin: 5px 200px;
  border: 7px solid limegreen;
  background: linear-gradient(to left, navy, greenyellow);
  box-shadow: 0 12px 0 rgba(0, 0, 0, .5);
  color: khaki;
  position: relative;
}
#clip{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  transform: rotate(35deg);
  -webkit-animation: rotation 2s infinite;
  animation: rotation 2s infinite;
}
#clip2{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  transform: rotate(-145deg);
  webkit-animation: rotation 2s infinite;
  animation: rotation 2s infinite;
}
 main img {
  margin: 2rem;
  float: left;
}
section img {
  margin: 15px;
}
p{
  display: inline;
  margin: 2rem;
  word-wrap: none;
}
button{
  padding: 5px 10px;
  border: 8px double pink;
  color: gold;
  background-color: #242424;
  cursor: crosshair;
}
.test{
  margin: 2rem;
  border: 15px solid cornflowerblue;
  background-color: burlywood;
}
.fun{
  transform: rotate(15deg);
  border: 20px double yellow;
  background-color: #24243344;
  text-align: center;
}
span{
  background-color: lavender;
  color: orange;
}
h2{
  text-align: right;
  color: forestgreen;
}
table{
  margin: 0 auto;
  font-size: 20px;
  border-top: 4px solid crimson;
}

@keyframes rotation {
  0%{
    transform: rotate(35deg);
  }

  100%{
    transform: rotate(390deg);
  }
}
